/* CSS Demo Stylesheet */

body {
background-color:dodgerblue;
}
/* Color Theme Swatches in Hex */
.VIPP-Primary-Colors-1-hex { color: #258B43; }
.VIPP-Primary-Colors-2-hex { color: #1883BF; }
.VIPP-Primary-Colors-3-hex { color: #171717; }
.VIPP-Primary-Colors-4-hex { color: #313131; }
.VIPP-Primary-Colors-5-hex { color: #9F9F9F; }


