/* CSS Demo Stylesheet */
/* ---------------Box Sizing-------------- */

html{
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* -------------utility classes---------------- */

.container{
    width: 80vw;
    max-width: 960px;
    margin:40px auto;
}


body {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
/* Color Theme Swatches in Hex */
.VIPP-Primary-Colors-1-hex { color: #258B43; }
.VIPP-Primary-Colors-2-hex { color: #1883BF; }
.VIPP-Primary-Colors-3-hex { color: #171717; }
.VIPP-Primary-Colors-4-hex { color: #313131; }
.VIPP-Primary-Colors-5-hex { color: #9F9F9F; }
main{
}

header.primary{
background-color: #313131;
color:#ffffff;
text-align: center;
text-shadow: 1px 1px #000 ;   
 padding-top: 40px;
 padding-right: 40px;
 padding-bottom: 40px;
 padding-left: 40px;
 /*single value hand*/
 padding: 40px;
 /* T,R,B,L*/
 padding: 20px 40px 20px 40px;
 /* two value top/bottom/ L/R */
 padding: 20px 40px;
 
}

header.primary h1{
    font-size: 2.4rem;
    /* top left an right bottom */
    margin: 20px 0 0;
}

header.primary h1 a{
    color: #ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size: 1.3rem;
    margin: 0;
    letter-spacing: 2px;
}

nav.primary{}
nav.primary ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 960px;
    margin:20px auto;
}
nav.primary ul li{
    list-style-type:none;
}
nav.primary ul li a{
    color: #ffffff;
    font-size: .9rem;
    text-decoration: none;
    border: 1px solid #313131;
    padding: 5px 10px;
    background-color: #000;
    background-color: rgba(0,0,0,.4);
    border-radius: 20px;
    transition: .4s;
}

nav.primary ul li a:hover{
background-color: rgba(0,0,0,.8);
}

#content{}

#content h2{
    color: #1883BF;
    border-bottom: 1px dotted darkgrey;
}
#content h3{
border-left: 7.5px solid #1883BF;
padding: 5px 0 5px 10px;
}

@media screen and (max-width:440px){

nav.primary ul{
    flex-direction:column ;
    gap: 10px;
    max-width: 200px;
    margin: 20px auto;
}
nav.primary ul li a{
    display: block;
}
}

